extends ../../_layout/pages.pug

block view
  .container(style='max-width: 32rem')
    .d-flex.flex-column.gap-4.text-center
      +inlineSvg(src='assets/brand/coreui-full.svg' height='48' alt='CoreUI Logo Full')
      .card.p-4
        .card-body.d-flex.flex-column.gap-4
          div
            h2.h5 Reset password
            div.text-body-secondary Enter your new password and confirm it.
          form.row.gap-3.text-start(action='./authentication/login.html' method='get' autocomplete='off' novalidate)
            div
              label.form-label(for='new-password') New password
              .input-group
                input#new-password.form-control(type='password' placeholder='Enter new password' autocomplete='off')
                span.input-group-text
                  button.bg-transparent.border-0.p-0.link-secondary(type='button' data-coreui-toggle='tooltip' aria-label='Show password' data-coreui-original-title='Show password')
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512').icon
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M256 144.927a103.309 103.309 0 1 0 103.309 103.309A103.426 103.426 0 0 0 256 144.927m0 174.618a71.309 71.309 0 1 1 71.309-71.309A71.39 71.39 0 0 1 256 319.545')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='m397.222 131.1-.218-.223c-77.75-77.749-204.258-77.749-282.008 0L16 233.79v28.893l98.778 102.689.218.222a199.41 199.41 0 0 0 282.008 0l99-102.911V233.79ZM464 249.79l-89.732 93.285a167.41 167.41 0 0 1-236.536 0L48 249.79v-3.107l89.729-93.283c65.247-65.13 171.3-65.13 236.542 0L464 246.683Z')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M240 232h32v32h-32z')
            div
              label.form-label(for='confirm-password') Confirm new password
              .input-group
                input#confirm-password.form-control(type='password' placeholder='Re-enter new password' autocomplete='off')
                span.input-group-text
                  button.bg-transparent.border-0.p-0.link-secondary(type='button' data-coreui-toggle='tooltip' aria-label='Show password' data-coreui-original-title='Show password')
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512').icon
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M256 144.927a103.309 103.309 0 1 0 103.309 103.309A103.426 103.426 0 0 0 256 144.927m0 174.618a71.309 71.309 0 1 1 71.309-71.309A71.39 71.39 0 0 1 256 319.545')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='m397.222 131.1-.218-.223c-77.75-77.749-204.258-77.749-282.008 0L16 233.79v28.893l98.778 102.689.218.222a199.41 199.41 0 0 0 282.008 0l99-102.911V233.79ZM464 249.79l-89.732 93.285a167.41 167.41 0 0 1-236.536 0L48 249.79v-3.107l89.729-93.283c65.247-65.13 171.3-65.13 236.542 0L464 246.683Z')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M240 232h32v32h-32z')
            div
              button.btn.btn-primary.w-100(type='submit') Set new password
