extends ../../_layout/pages.pug

block js
  script.
    const tooltipTriggerList = document.querySelectorAll('[data-coreui-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new coreui.Tooltip(tooltipTriggerEl))

block view
  .container(style='max-width: 32rem')
    .d-flex.flex-column.gap-4
      +inlineSvg(src='assets/brand/coreui-full.svg' height='48' alt='CoreUI Logo Full')
      .card.p-4
        .card-body.d-flex.flex-column.gap-4
          h2.h5.text-center Login to your account
          form.row.gap-3(action='./' method='get' autocomplete='off' novalidate)
            div
              label.form-label(for='email') Email address
              input#email.form-control(type='email' placeholder='your@email.com' autocomplete='off')
            div
              .d-flex.justify-content-between
                label.form-label(for='password') Password
                a(href='./authentication/reset-password.html') I forgot password
              .input-group
                input#password.form-control(type='password' placeholder='Your password' autocomplete='off')
                span.input-group-text
                  button.bg-transparent.border-0.p-0.link-secondary(type='button' data-coreui-toggle='tooltip' aria-label='Show password' data-coreui-original-title='Show password')
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512').icon
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M256 144.927a103.309 103.309 0 1 0 103.309 103.309A103.426 103.426 0 0 0 256 144.927m0 174.618a71.309 71.309 0 1 1 71.309-71.309A71.39 71.39 0 0 1 256 319.545')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='m397.222 131.1-.218-.223c-77.75-77.749-204.258-77.749-282.008 0L16 233.79v28.893l98.778 102.689.218.222a199.41 199.41 0 0 0 282.008 0l99-102.911V233.79ZM464 249.79l-89.732 93.285a167.41 167.41 0 0 1-236.536 0L48 249.79v-3.107l89.729-93.283c65.247-65.13 171.3-65.13 236.542 0L464 246.683Z')
                      path.ci-primary(fill='var(--ci-primary-color, currentcolor)' d='M240 232h32v32h-32z')
            div
              label.form-check
                input.form-check-input(type='checkbox')
                span.form-check-label Remember me on this device
            div
              button.btn.btn-primary.w-100(type='submit') Sign in
          .position-relative
            hr
            .position-absolute.top-50.start-50.translate-middle.bg-body.px-2.text-body-tertiary.text-uppercase.small or
          .row
            .col
              a.btn.btn-outline.w-100(href='#')
                svg.icon.me-1(aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M24 12.27C24 11.48 23.9284 10.73 23.8058 9.99998H12.2605V14.51H18.871C18.5747 15.99 17.7062 17.24 16.4189 18.09V21.09H20.3627C22.6717 19 24 15.92 24 12.27Z' fill='#4285F4')
                  path(d='M12.2606 24C15.571 24 18.3398 22.92 20.3628 21.09L16.419 18.09C15.3156 18.81 13.9158 19.25 12.2606 19.25C9.06269 19.25 6.35515 17.14 5.38453 14.29H1.31812V17.38C3.33089 21.3 7.46882 24 12.2606 24Z' fill='#34A853')
                  path(d='M5.38442 14.2901C5.12899 13.5701 4.99617 12.8001 4.99617 12.0001C4.99617 11.2001 5.13921 10.4301 5.38442 9.71009V6.62009H1.31801C0.480203 8.24009 0 10.0601 0 12.0001C0 13.9401 0.480203 15.7601 1.31801 17.3801L5.38442 14.2901Z' fill='#FBBC05')
                  path(d='M12.2606 4.74998C14.0691 4.74998 15.6834 5.35999 16.9605 6.54999L20.4548 3.12999C18.3398 1.18999 15.571 -1.52588e-05 12.2606 -1.52588e-05C7.46882 -1.52588e-05 3.33089 2.69999 1.31812 6.61999L5.38453 9.70999C6.35515 6.85999 9.06269 4.74998 12.2606 4.74998Z' fill='#EA4335')
                | Login with Google
            .col
              a.btn.btn-outline.w-100(href='#')
                svg.icon.me-1(aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M17.9954 12.6879C18.0263 16.0172 20.915 17.1251 20.947 17.1393C20.9225 17.2173 20.4854 18.7181 19.4251 20.2682C18.5084 21.6085 17.5571 22.9437 16.0585 22.9714C14.586 22.9985 14.1124 22.0979 12.4289 22.0979C10.7459 22.0979 10.2198 22.9437 8.82587 22.9985C7.37932 23.0533 6.27775 21.5493 5.35356 20.214C3.465 17.4827 2.02175 12.4959 3.95967 9.12967C4.92239 7.45801 6.64284 6.39944 8.51023 6.3723C9.9307 6.34519 11.2714 7.3283 12.1398 7.3283C13.0077 7.3283 14.6369 6.14603 16.3498 6.31966C17.0668 6.34952 19.0796 6.60941 20.372 8.50192C20.2679 8.56651 17.9704 9.90449 17.9954 12.6879ZM15.2279 4.51263C15.9959 3.58268 16.5128 2.2881 16.3717 1C15.2648 1.04451 13.9262 1.73794 13.1321 2.66738C12.4205 3.49044 11.7974 4.8078 11.9655 6.07041C13.1994 6.16591 14.4599 5.44317 15.2279 4.51263Z' fill='black')
                | Login with Apple
      .text-center.text-body-secondary
        | Need an account?
        a(href='./authentication/register.html') Sign up