extends ../../_layout/pages.pug

block view
  .container(style='max-width: 32rem')
    .d-flex.flex-column.gap-4.text-center
      +inlineSvg(src='assets/brand/coreui-full.svg' height='48' alt='CoreUI Logo Full')
      .card.p-4
        .card-body.d-flex.flex-column.gap-4
          h2.h5.mb-0 Your password has been changed
          div.text-body-secondary
            | Your password has been successfully changed. You can now log in with your new password.
          div
            a.btn.btn-primary.w-100(href='./authentication/login.html') Back to Login