extends ../../_layout/pages.pug

block view
  .container(style='max-width: 28rem')
    .d-flex.flex-column.gap-4.text-center
      +inlineSvg(src='assets/brand/coreui-full.svg' height='48' alt='Thika Tandem Paracycling Logo')
      .card.p-4
        .card-body.d-flex.flex-column.gap-4
          div
            h2.h5 Reset password
            div.text-body-secondary Enter your email address and we will send you instructions on how to reset your password.
          form.row.gap-3.text-start(action='./authentication/check-email.html' method='get' autocomplete='off' novalidate)
            div
              label.form-label(for='email') Email address
              input#email.form-control(type='email' placeholder='your@email.com' autocomplete='off')
            div
              button.btn.btn-primary.w-100(type='submit')
                +inlineSvg('node_modules/@coreui/icons/svg/free/cil-envelope-closed.svg').icon.me-2
                | Send reset instructions

