extends ../_layout/default.pug

block styles
  link(href='node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css', rel='stylesheet')

block scripts
  if !starter
    // Plugins and scripts required by this view
    script(src='node_modules/chart.js/dist/chart.umd.js')
    script(src='node_modules/@coreui/chartjs/dist/js/coreui-chartjs.js')
    script(src='node_modules/@coreui/utils/dist/umd/index.js')
    script(src='js/main.js')

block breadcrumb
    +breadcrumb(
    [
      { href: '#', label: 'Home'},
      { label: 'Dashboard'}
    ]
  )

block view

  .row.g-4.mb-4

    .col-sm-6.col-xl-3
      .card.text-white.bg-primary
        .card-body
          .fs-4.fw-semibold#totalAthletes 0
          div Total Athletes

    .col-sm-6.col-xl-3
      .card.text-white.bg-success
        .card-body
          .fs-4.fw-semibold#totalTeams 0
          div Active Teams

    .col-sm-6.col-xl-3
      .card.text-white.bg-warning
        .card-body
          .fs-4.fw-semibold#totalEvents 0
          div Events

    .col-sm-6.col-xl-3
      .card.text-white.bg-danger
        .card-body
          .fs-4.fw-semibold#totalTraining 0
          div Training Sessions

  .row.g-4.mb-4

    .col-lg-6
      .card
        .card-header Athlete Overview
        .card-body
          canvas#athleteChart

    .col-lg-6
      .card
        .card-header Performance Overview
        .card-body
          canvas#performanceChart

  .row.g-4.mb-4

    .col-lg-6
      .card
        .card-header Upcoming Events
        .card-body
          table.table.table-hover
            thead
              tr
                th Event
                th Country
                th Date
            tbody#upcomingEvents

    .col-lg-6
      .card
        .card-header Recent Results
        .card-body
          table.table.table-hover
            thead
              tr
                th Team
                th Position
                th Points
            tbody#recentResults

  .row.g-4

    .col-lg-12
      .card
        .card-header Latest Athletes
        .card-body
          table.table.table-striped
            thead
              tr
                th Athlete Code
                th First Name
                th Last Name
                th Role
                th Status
            tbody#latestAthletes

block scripts
  
  script(src='js/dashboard.js')
