footer.footer.px-4

  div

    | ©

    span#copyrightYear

    |  Thika Tandem Paracycling

  div.ms-auto

    | Created by&nbsp;

    a(
      href='https://hashwebsite.com/'
      target='_blank'
      rel='noopener noreferrer'
    ) HashWebs

script.
  document.addEventListener(
    'DOMContentLoaded',
    () => {
      const year =
        document.getElementById(
          'copyrightYear'
        )

      if (year) {
        year.textContent =
          new Date()
            .getFullYear()
      }
    }
  )
